# Downloading and Editing Data from World Bank API:

In [ ]:
# Begin by installing the packages that we need got 
import numpy as np
import pandas as pd

In [ ]:
# Download World Bank API Packages
!pip install world-bank-data
import world_bank_data as wb

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting world-bank-data
  Downloading world_bank_data-0.1.3.tar.gz (12 kB)
  Preparing metadata (setup.py) ... done
Requirement already satisfied: pandas in /usr/local/lib/python3.8/dist-packages (from world-bank-data) (1.3.5)
Requirement already satisfied: requests in /usr/local/lib/python3.8/dist-packages (from world-bank-data) (2.25.1)
Requirement already satisfied: cachetools in /usr/local/lib/python3.8/dist-packages (from world-bank-data) (5.2.0)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.8/dist-packages (from pandas->world-bank-data) (1.21.6)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.8/dist-packages (from pandas->world-bank-data) (2022.7)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.8/dist-packages (from pandas->world-bank-data) (2.8.2)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.8/dist-packages (from requests->world-bank-data) (2022.12.7)
Requirement already satisfied: chardet<5,>=3.0.2 in /usr/local/lib/python3.8/dist-packages (from requests->world-bank-data) (4.0.0)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.8/dist-packages (from requests->world-bank-data) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.8/dist-packages (from requests->world-bank-data) (2.10)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.8/dist-packages (from python-dateutil>=2.7.3->pandas->world-bank-data) (1.15.0)
Building wheels for collected packages: world-bank-data
  Building wheel for world-bank-data (setup.py) ... done
  Created wheel for world-bank-data: filename=world_bank_data-0.1.3-py3-none-any.whl size=11110 sha256=e340a8d1f09d0fbc6ab96dcd0c0f627f4b57c6bda4f9cbd7424409ae1e0a0dc5
  Stored in directory: /root/.cache/pip/wheels/fe/17/0c/9ef630351acc5856f4a1814d96bc082eccf1cbbb779fcd1a98
Successfully built world-bank-data
Installing collected packages: world-bank-data
Successfully installed world-bank-data-0.1.3

In [ ]:
# Select the Data that we want

urbanpop = pd.DataFrame(wb.get_series('SP.URB.TOTL.IN.ZS'))
gdpcapita = pd.DataFrame(wb.get_series('NY.GDP.PCAP.CD'))
population = pd.DataFrame(wb.get_series('SP.POP.TOTL'))

In [ ]:
urbanpop.to_csv('urbanpop.csv')

In [ ]:
# Sort and filter the urban population data to what we want to display

urbanpop = pd.read_csv('urbanpop.csv')
urbanpop = urbanpop.drop('Series', axis=1)
urbanpop = urbanpop[urbanpop.Year > 2010]
urbanpop = urbanpop.dropna()
urbanpop = urbanpop.sort_values(by=['Country', 'Year'])
urbanpop = urbanpop.drop_duplicates(subset=['Country'], keep='last')
urbanpop = urbanpop.set_index('Country')
urbanpop.columns = ["Year", "Urban population"]
urbanpop= urbanpop.drop('Year', axis=1)

In [ ]:
# Check that this is what we want

urbanpop

                             Urban population
Country
Afghanistan                         26.314000
Africa Eastern and Southern         37.323697
Africa Western and Central          48.454806
Albania                             62.969000
Algeria                             74.261000
...                                       ...
West Bank and Gaza                  77.003000
World                               56.477541
Yemen, Rep.                         38.546000
Zambia                              45.192000
Zimbabwe                            32.303000

[263 rows x 1 columns]

In [ ]:
gdpcapita.to_csv('gdpcapita.csv')

In [ ]:
# Sort and filter GDP capita data to what we want to display

In [ ]:
gdpcapita = pd.read_csv('gdpcapita.csv')
gdpcapita = gdpcapita.drop('Series', axis=1)
gdpcapita = gdpcapita[gdpcapita.Year > 2010]
gdpcapita = gdpcapita.dropna()
gdpcapita = gdpcapita.sort_values(by=['Country', 'Year'])
gdpcapita = gdpcapita.drop_duplicates(subset=['Country'], keep='last')
gdpcapita = gdpcapita.set_index('Country')
gdpcapita.columns = ["Year", "GDP per Capita"]
gdpcapita= gdpcapita.drop('Year', axis=1)

In [ ]:
# Check this is what we want

gdpcapita

                             GDP per Capita
Country
Afghanistan                      368.754614
Africa Eastern and Southern     1537.336021
Africa Western and Central      1757.030626
Albania                         6492.872012
Algeria                         3690.627878
...                                     ...
West Bank and Gaza              3663.969055
World                          12234.796802
Yemen, Rep.                      701.714878
Zambia                          1137.343633
Zimbabwe                        1773.920411

[261 rows x 1 columns]

In [ ]:
# Now we have the data that we want we can merge the datasets 

urbanpop_gdpcapita = pd.merge(urbanpop, gdpcapita, how='left', on='Country')

In [ ]:
# Check this is what we want

urbanpop_gdpcapita

                             Urban population  GDP per Capita
Country
Afghanistan                         26.314000      368.754614
Africa Eastern and Southern         37.323697     1537.336021
Africa Western and Central          48.454806     1757.030626
Albania                             62.969000     6492.872012
Algeria                             74.261000     3690.627878
...                                       ...             ...
West Bank and Gaza                  77.003000     3663.969055
World                               56.477541    12234.796802
Yemen, Rep.                         38.546000      701.714878
Zambia                              45.192000     1137.343633
Zimbabwe                            32.303000     1773.920411

[263 rows x 2 columns]

In [ ]:
population.to_csv('population.csv')

In [ ]:
population = pd.read_csv('population.csv')
population = population.drop('Series', axis=1)
population = population[population.Year > 2010]
population = population.dropna()
population = population.sort_values(by=['Country', 'Year'])
population = population.drop_duplicates(subset=['Country'], keep='last')
population = population.set_index('Country')
population.columns = ["Year", "Population"]
population= population.drop('Year', axis=1)

population

                               Population
Country
Afghanistan                  4.009946e+07
Africa Eastern and Southern  7.029768e+08
Africa Western and Central   4.781859e+08
Albania                      2.811666e+06
Algeria                      4.417797e+07
...                                   ...
West Bank and Gaza           4.922749e+06
World                        7.888409e+09
Yemen, Rep.                  3.298164e+07
Zambia                       1.947312e+07
Zimbabwe                     1.599352e+07

[265 rows x 1 columns]

In [ ]:
projectchart2 = pd.merge(urbanpop_gdpcapita, population, how='left', on='Country')

projectchart2 = projectchart2[projectchart2.GDP per Capita !=50000]

SyntaxError: ignored

In [ ]:
# Download this data to a csv file

projectchart2.to_csv('projectchart2.csv')