Begin by installing your packages:

In [ ]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt 
import seaborn as sns
import requests
from bs4 import BeautifulSoup

Now we can download our datasets:

In [ ]:
greenspace_raw= pd.read_csv('bouroughgreenspace.csv')
povertyrate_raw=pd.read_csv('povertyrates.csv')

print(greenspace_raw.shape)
print(povertyrate_raw.shape)

greenspace_raw.head()

(32, 9)
(32, 14)

,London Borough,lb_name,borough_area_hectare,green_area_hectare,blue _area_hectare,green+blue_area_hectare,percent_green,percent_blue,percent_green+blue
0,Barking and Dagenham,E09000002,3779.93,1481.78,230.50,1712.28,39.20,6.10,45.30
1,Barnet,E09000003,8674.84,5030.91,60.01,5090.92,57.99,0.69,58.69
2,Bexley,E09000004,6428.65,2759.07,437.52,3196.59,42.92,6.81,49.72
3,Brent,E09000005,4323.27,1726.56,44.59,1771.15,39.94,1.03,40.97
4,Bromley,E09000006,15013.49,10262.64,56.96,10319.60,68.36,0.38,68.74

In [ ]:
# Drop unwanted columns from the data

greenspace_raw=greenspace_raw[['London Borough','lb_name','percent_green']]

povertyrate_raw=povertyrate_raw[['London Borough','Poverty rate (AHC)']]

povertyrate_raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 2 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   London Borough      32 non-null     object
 1   Poverty rate (AHC)  32 non-null     object
dtypes: object(2)
memory usage: 640.0+ bytes

In [ ]:
# Remove percentage sign from the data

povertyrate_raw['Poverty rate (AHC)']=povertyrate_raw['Poverty rate (AHC)'].str.rstrip("%").astype(float)/100

povertyrate_raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 2 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   London Borough      32 non-null     object
 1   Poverty rate (AHC)  32 non-null     float64
dtypes: float64(1), object(1)
memory usage: 640.0+ bytes

In [ ]:
# Merge Data

londondata=povertyrate_raw.merge(greenspace_raw, on='London Borough', how='left')
londondata.columns = ["London Borough", "Poverty Rate", "Code", "Green Percentage"]

londondata

            London Borough  Poverty Rate       Code  Green Percentage
0     Barking and Dagenham         0.290  E09000002             39.20
1                   Barnet         0.250  E09000003             57.99
2                   Bexley         0.290  E09000004             42.92
3                    Brent         0.360  E09000005             39.94
4                  Bromley         0.170  E09000006             68.36
5                   Camden         0.340  E09000007             43.28
6                  Croydon         0.230  E09000008             55.53
7                   Ealing         0.300  E09000009             43.96
8                  Enfield         0.340  E09000010             52.95
9                Greenwich         0.240  E09000011             43.22
10                 Hackney         0.290  E09000012             38.79
11  Hammersmith and Fulham         0.200  E09000013             27.60
12                Haringey         0.350  E09000014             43.55
13                  Harrow         0.260  E09000015             55.42
14                Havering         0.170  E09000016             65.98
15              Hillingdon         0.240  E09000017             54.60
16                Hounslow         0.290  E09000018             47.31
17               Islington         0.220  E09000019             34.88
18  Kensington and Chelsea         0.273  E09000020             30.37
19    Kingston upon Thames         0.230  E09000021             52.42
20                 Lambeth         0.260  E09000022             32.91
21                Lewisham         0.350  E09000023             40.25
22                  Merton         0.160  E09000024             48.78
23                  Newham         0.360  E09000025             30.64
24               Redbridge         0.270  E09000026             53.56
25    Richmond upon Thames         0.190  E09000027             61.99
26               Southwark         0.260  E09000028             37.67
27                  Sutton         0.180  E09000029             49.69
28           Tower Hamlets         0.390  E09000030             25.38
29          Waltham Forest         0.270  E09000031             44.36
30              Wandsworth         0.340  E09000032             39.01
31             Westminster         0.360        NaN               NaN

In [ ]:
# Scrape London bourough population data from wikipedia

population= pd.read_html("https://en.wikipedia.org/wiki/List_of_London_boroughs")[0]

population=population[['Borough','Population(2019 est)']]

# Clean this data

population=population.rename(columns={'Borough':'London Borough'})
population = population.set_index('London Borough')
population=population.rename(index={'Barking and Dagenham[note 1]':'Barking and Dagenham'})
population=population.rename(index={'Greenwich[note 2]':'Greenwich'})
population=population.rename(index={'Hammersmith and Fulham[note 4]':'Hammersmith and Fulham'})

# Check this is what we want

population

                        Population(2019 est)
London Borough
Barking and Dagenham                  212906
Barnet                                395896
Bexley                                248287
Brent                                 329771
Bromley                               332336
Camden                                270029
Croydon                               386710
Ealing                                341806
Enfield                               333794
Greenwich                             287942
Hackney                               281120
Hammersmith and Fulham                185143
Haringey                              268647
Harrow                                251160
Havering                              259552
Hillingdon                            306870
Hounslow                              271523
Islington                             242467
Kensington and Chelsea                156129
Kingston upon Thames                  177507
Lambeth                               326034
Lewisham                              305842
Merton                                206548
Newham                                353134
Redbridge                             305222
Richmond upon Thames                  198019
Southwark                             318830
Sutton                                206349
Tower Hamlets                         324745
Waltham Forest                        276983
Wandsworth                            329677
Westminster                           261317

In [ ]:
# Merge population data 

londondata1 = pd.merge(population, londondata, how='right', on='London Borough')

In [ ]:
# Check this is what we want 

londondata1

,London Borough,Population(2019 est),Poverty Rate,Code,Green Percentage
0,Barking and Dagenham,212906,0.290,E09000002,39.20
1,Barnet,395896,0.250,E09000003,57.99
2,Bexley,248287,0.290,E09000004,42.92
3,Brent,329771,0.360,E09000005,39.94
4,Bromley,332336,0.170,E09000006,68.36
5,Camden,270029,0.340,E09000007,43.28
6,Croydon,386710,0.230,E09000008,55.53
7,Ealing,341806,0.300,E09000009,43.96
8,Enfield,333794,0.340,E09000010,52.95
9,Greenwich,287942,0.240,E09000011,43.22
10,Hackney,281120,0.290,E09000012,38.79
11,Hammersmith and Fulham,185143,0.200,E09000013,27.60
12,Haringey,268647,0.350,E09000014,43.55
13,Harrow,251160,0.260,E09000015,55.42
14,Havering,259552,0.170,E09000016,65.98
15,Hillingdon,306870,0.240,E09000017,54.60
16,Hounslow,271523,0.290,E09000018,47.31
17,Islington,242467,0.220,E09000019,34.88
18,Kensington and Chelsea,156129,0.273,E09000020,30.37
19,Kingston upon Thames,177507,0.230,E09000021,52.42
20,Lambeth,326034,0.260,E09000022,32.91
21,Lewisham,305842,0.350,E09000023,40.25
22,Merton,206548,0.160,E09000024,48.78
23,Newham,353134,0.360,E09000025,30.64
24,Redbridge,305222,0.270,E09000026,53.56
25,Richmond upon Thames,198019,0.190,E09000027,61.99
26,Southwark,318830,0.260,E09000028,37.67
27,Sutton,206349,0.180,E09000029,49.69
28,Tower Hamlets,324745,0.390,E09000030,25.38
29,Waltham Forest,276983,0.270,E09000031,44.36
30,Wandsworth,329677,0.340,E09000032,39.01
31,Westminster,261317,0.360,NaN,NaN

In [ ]:
# Save as csv

londondata1.to_csv("londondata1.csv")